
.selectCategory {
    appearance: none; 
    outline: none; 
    cursor: pointer; 
    color: white; 
    background-color: transparent;
    border: 2px solid limegreen;
    border-radius: 7px; 
    height: 35px;
    width: 160px;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.8);
    text-align: center;
} 

.optionSelectCategory{
   color: black;
}
